<div class="display-event flex w-full rounded-s-lg text-slate-50 text-xs sm:text-sm md:text-base
bg-gradient-to-r from-emerald-500 to-emerald-800 mb-2">
  <div class="event-info grid grid-cols-4 w-full">
    <p class="px-2">
      <span class="flex w-full justify-between">
        <span class="home-team py-2 md:px-4 sm:px-2 px-0">{{ homeTeam() }}</span>
        <span class="home-score py-2 md:px-4 sm:px-2 px-0">{{ homeScore() }}</span>
      </span>
      <span class="flex w-full justify-between">
        <span class="away-team py-2 md:px-4 sm:px-2 px-0">{{ awayTeam() }}</span>
        <span class="away-score py-2 md:px-4 sm:px-2 px-0">{{ awayScore() }}</span>
      </span>
    </p>
    <p class="flex w-full h-full justify-center items-center py-2 md:px-4 sm:px-2 px-0">
      <span class="home">{{ home() }}</span>
    </p>
    <p class="flex w-full h-full justify-center items-center py-2 md:px-4 sm:px-2 px-0">
      <span class="draw">{{ draw() }}</span>
    </p>
    <p class="flex w-full h-full justify-center items-center py-2 md:px-4 sm:px-2 px-0">
      <span class="away">{{ away() }}</span>
    </p>
  </div>
</div>
